LOGTO_ENDPOINT=https://ufrjei.logto.app
LOGTO_APP_ID=17trhj5ohcsqrgh6ht241
LOGTO_APP_SECRET=xxxxxxxxxxxxxxxxx
LOGTO_REDIRECT_URI=http://localhost:3000/callback
LOGTO_POST_LOGOUT_URI=http://localhost:3000